@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
:root {
  font-family: 'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FDFAEE;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white-color:                  #ffffff;
  --primary-color:                #3A3363;
  --secondary-color:              #F3D569;
  --section-bg-color:             #FDFAEE;
  --custom-btn-bg-color:          #3A3363;
  --custom-btn-bg-hover-color:    #F3D569;
  --custom-btn2-bg-color:         #F3D569;
  --custom-btn2-bg-hover-color:   #3A3363;
  --dark-color:                   #170312;
  --p-color:                      #717275;
  --border-color:                 #070b08;
  --link-hover-color:             #262140;

  --body-font-family:             'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --title-font-family:            'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --h1-font-size:                 52px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --menu-font-size:               14px;
  --nav-font-size:                22px;
  --btn-font-size:                18px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           550;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

a {
  font-weight: 500;
  color: var(--custom-btn-bg-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--section-bg-color);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1.1;
}

.company-logo {
  max-height: 80px; /* Adjust the max height of your logo */
}

.navbar {
  position: fixed;
  top: 0;
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: 75px;
  margin-right:25px;
  padding-top: 10px;
  background-color: #FDFAEE;
  border-bottom: 2px solid #3A3363;
}

.tab-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.navbar-btn {
  color: #3A3363 !important;
  font-size: var(--nav-font-size);
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  background: none;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navbar-btn:hover {
  font-weight: bold;
  color: #262140 !important;
  background: #F3D569;
}

.custom2-btn {
  background-color: var(--custom-btn2-bg-color) !important;
  color: white;
  font-size: var(--nav-font-size);
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 30px;
  background: none;
  border: none;
  font-weight: 500;
  margin: 4px 2px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.custom2-btn:hover {
  font-weight: bold;
  color: #262140 !important;
  background: #F3D569;
}

.custom-btn {
  background-color: var(--custom-btn-bg-color) !important;
  color: white;
  font-size: var(--nav-font-size);
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 30px;
  background: none;
  border: none;
  font-weight: 500;
  margin: 4px 2px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.custom-btn:hover {
  font-weight: bold;
  color: #262140 !important;
  background: #F3D569;
}
.spacer {
  padding-right: 30px;
}

.input-field {
  background-color: var(--secondary-color);
  font-weight: bolder;
  color: var(--primary-color);
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

/* Apply specific styles to the placeholder text */
.input-field::placeholder {
  color: var(--link-hover-color);
}


/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid var(--primary-color);
  padding: 8px;
  text-align: left;
}

th {
  background-color: transparent;
  color: var(--primary-color);
}

td {
  color: var(--primary-color);
}

/* AG Grid default styles (if not using a pre-built theme) */

/* Your custom theme */
.ag-theme-ymd {
  --ag-background-color: #FDFAEE !important;
  --ag-foreground-color: var(--primary-color) !important;
  --ag-header-background-color: #F2EFE3 !important;
  --ag-header-foreground-color: var(--primary-color) !important;
  --ag-active-color: var(--primary-color) !important;
  --ag-border-color: #D3D1DB !important;
}

/* Calendar.css */
.calendar-container {
  padding: 20px;
  margin: 20px;
  background-color: #f8f8f8;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #3A3363;
    background-color: #FDFAEE;
  }
  a:hover {
    color: #262140;
  }
  button {
    background-color: #FDFAEE;
  }
}
