@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
:root {
  font-family: 'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FDFAEE;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white-color:                  #ffffff;
  --primary-color:                #3A3363;
  --secondary-color:              #F3D569;
  --section-bg-color:             #FDFAEE;
  --custom-btn-bg-color:          #3A3363;
  --custom-btn-bg-hover-color:    #F3D569;
  --custom-btn2-bg-color:         #F3D569;
  --custom-btn2-bg-hover-color:   #3A3363;
  --dark-color:                   #170312;
  --p-color:                      #717275;
  --border-color:                 #070b08;
  --link-hover-color:             #262140;

  --body-font-family:             'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --title-font-family:            'Chewy', cursive, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --h1-font-size:                 58px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --menu-font-size:               14px;
  --nav-font-size:                22px;
  --btn-font-size:                18px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           550;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

a {
  font-weight: 500;
  color: #3A3363;
  text-decoration: inherit;
}
a:hover {
  color: #262140;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FDFAEE;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left:25px;
  padding:35px 0;
  background-color: #FDFAEE;
}

.tab-container {
  display: flex;
}

button {
  color: #3A3363 !important;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #FDFAEE;
  border-radius: 8px;
  border: 1px solid #FDFAEE;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  font-weight: bold;
  color: #262140 !important;
  background: #F3D569;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3A3363;
    background-color: #FDFAEE;
  }
  a:hover {
    color: #262140;
  }
  button {
    background-color: #FDFAEE;
  }
}
